<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="standard"/> <!-- standard / memory -->
    <add key="connection" value="Server=.; Database=nhoverflow; Trusted_Connection=True;"/>
    <add key="express" value="false"/>
    <add key="recreateMedia" value="true"/>
    <add key="recreateSchema" value="true"/>
    <add key="profiling" value="true"/>
  </appSettings>
</configuration>